@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital@0;1&display=swap');

@import "tailwindcss";

@theme {
    --font-fjalla-one: "Fjalla One", sans-serif;
    --font-merriweather: "Merriweather Sans", sans-serif;
    --color-bg-blue: #243c5a;
}

/* :root {
    --clr-bg: #fbfbfb;
    --clr-font: #151419;
    --clr-toggle: #fbfbfb;
    --transition: all 0.3s linear;
}

.dark-theme {
    --clr-bg: #151419;
    --clr-font: #fbfbfb;
    --clr-toggle: #151419;
}

.light-theme {
    --clr-bg: #fbfbfb;
    --clr-font: #151419;
    --clr-toggle: #fbfbfb;
} */