@import "tailwindcss";

/* :root {
    --clr-bg: #fbfbfb;
    --clr-font: #151419;
    --clr-toggle: #fbfbfb;
    --transition: all 0.3s linear;
}

.dark-theme {
    --clr-bg: #151419;
    --clr-font: #fbfbfb;
    --clr-toggle: #151419;
}

.light-theme {
    --clr-bg: #fbfbfb;
    --clr-font: #151419;
    --clr-toggle: #fbfbfb;
} */